@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");
.dark-mode-toggle {
    scale: 0.5;
    position: fixed;
    left: 15px;
    bottom: 15px;
    z-index: 11;
    transform: translate(-50%, 60%);
}

.dark-mode-toggle * {
    transition: 1s all;
}

.toggle-input {
    display: none;
}

.switch {
    position: relative;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    width: 270px;
    height: 120px;
    border-radius: 135px;
    background-color: #70C6EC;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.bb8-body {
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    bottom: 10px;
    border-radius: 100%;
    background: #f0f0f0;
    background: radial-gradient(ellipse at center, #f0f0f0 0%, #ebebeb 72%, #bfbfbf 100%);
}

.bb8-body:after {
    content: '';
    position: absolute;
    height: 3.5px;
    width: 100px;
    background: #e0e0e0;
    top: 46px;
    left: 0px;
}

.circle1,
.circle2,
.circle3 {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    border: 7px solid #fac562;
    position: relative;
}


/********positioning of the circles*******/

.circle1 {
    left: 35px;
    top: 10px;
}

.circle2 {
    left: 10px;
    top: 20px;
}

.circle3 {
    left: 58px;
    top: -11px;
}

.s1 {
    background: #fac562;
    width: 4px;
    height: 20px;
    position: relative;
    left: 6.2px;
    /*overrides the background and places a gradient bg fromt top to bottom*/
    background: linear-gradient(to bottom, #fac562 0%, #fac562 22%, #f0f0f0 25%, #f0f0f0 70%, #fac562 75%, #fac562 100%);
}

.s2 {
    background: #fac562;
    width: 20px;
    height: 3px;
    position: relative;
    top: -12px;
    /*overrides the background and places a gradient bg fromt left to right*/
    background: linear-gradient(to right, #fac562 0%, #fac562 22%, #f0f0f0 25%, #f0f0f0 70%, #fac562 75%, #fac562 100%);
}


/*bb8 head*/

.bb8-head {
    position: absolute;
    height: 40px;
    width: 70px;
    background: #f0f0f0;
    top: -38px;
    left: 34px;
    z-index: 300;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: linear-gradient(to bottom, #f0f0f0 0%, #f0f0f0 10%, #fac562 10%, #fac562 15%, #f0f0f0 16%, #f0f0f0 70%, #fac562 70%, #fac562 80%, #666666 85%, #666666 100%);
}

.bb8-head:before {
    position: absolute;
    content: '';
    background: black;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    top: 7px;
    left: 29px;
    z-index: 300;
}

.bb8-head:after {
    position: absolute;
    content: '';
    background: black;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 15px;
    left: 50px;
}

.bottom-head {
    position: absolute;
    border-top: 7px solid #9f9f9f;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    width: 60px;
    top: 1px;
    left: 34px;
}

input[type=checkbox]:checked+label .bb8-body {
    margin-left: calc(100% - 150px);
    transform: rotate(360deg);
}

input[type=checkbox]:checked+label .bb8-head {
    margin-left: calc(100% - 150px);
}

input[type=checkbox]:checked+label .bottom-head {
    margin-left: calc(100% - 150px);
}

input[type=checkbox]:checked+label~section {
    background-color: #3384a8;
}


/* stars and background mod*/

.toggle {
    background: #211042;
    transition: 500ms;
    border: 2px solid #FFFFFF;
    /* overflow: hidden; */
}

.star {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 1px 0 2px 2px rgba(255, 255, 255);
}

.star-1 {
    width: 6px;
    height: 6px;
    right: 110px;
    bottom: 40px;
}

.star-2 {
    width: 8px;
    height: 8px;
    right: 90px;
    top: 15px;
}

.star-3 {
    width: 5px;
    height: 5px;
    right: 75px;
    bottom: 15px;
}

.star-4 {
    width: 3px;
    height: 3px;
    right: 60px;
    bottom: 60px;
}

.star-5 {
    width: 4px;
    height: 4px;
    right: 20px;
    bottom: 35px;
}

.star-6,
.star-7,
.star-8 {
    width: 10px;
    height: 2px;
    border-radius: 2px;
    transform: rotate(-45deg);
    box-shadow: 5px 0px 4px 1px #FFF;
    animation-name: travel;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.star-6 {
    right: 30px;
    bottom: 30px;
    animation-delay: -2s;
}

.star-7 {
    right: 50px;
    bottom: 60px;
}

.star-8 {
    right: 90px;
    top: 10px;
    animation-delay: -4s;
}

#bb8-checkbox:checked+.toggle {
    background: #24D7F7;
}

#bb8-checkbox:checked+.toggle .toggle-button {
    background: #F7FFFF;
    transform: translateX(102px);
    box-shadow: 0 0 35px 5px rgba(255, 255, 255);
}

#bb8-checkbox:checked+.toggle .toggle-button .crater {
    transform: rotate(-45deg) translateX(70px);
}

#bb8-checkbox:checked+.toggle .star {
    animation: move 2s infinite;
    transform: none;
    box-shadow: none;
}

#bb8-checkbox:checked+.toggle .star-1 {
    width: 40px;
    height: 10px;
    border-radius: 10px;
    background: #FFF;
    left: 20px;
    top: 25px;
    box-shadow: none;
}

#bb8-checkbox:checked+.toggle .star-2 {
    width: 12px;
    height: 12px;
    background: #FFF;
    left: 26px;
    top: 23px;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#bb8-checkbox:checked+.toggle .star-3 {
    width: 16px;
    height: 16px;
    background: #FFF;
    left: 35px;
    top: 19px;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#bb8-checkbox:checked+.toggle .star-4 {
    width: 14px;
    height: 14px;
    background: #FFF;
    left: 46px;
    top: 21px;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#bb8-checkbox:checked+.toggle .star-5 {
    width: 60px;
    height: 15px;
    border-radius: 15px;
    background: #FFF;
    left: 30px;
    bottom: 20px;
    box-shadow: none;
}

#bb8-checkbox:checked+.toggle .star-6 {
    width: 18px;
    height: 18px;
    background: #FFF;
    border-radius: 50%;
    left: 38px;
    bottom: 20px;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#bb8-checkbox:checked+.toggle .star-7 {
    width: 24px;
    height: 24px;
    background: #FFF;
    border-radius: 50%;
    left: 52px;
    bottom: 20px;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#bb8-checkbox:checked+.toggle .star-8 {
    width: 21px;
    height: 21px;
    background: #FFF;
    border-radius: 50%;
    left: 70px;
    top: 59px;
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

@keyframes move {
    0% {
        transform: none;
    }
    25% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(-2px);
    }
}

@keyframes travel {
    0% {
        transform: rotate(-45deg) translateX(10px);
    }
    50% {
        transform: rotate(-45deg) translateX(-20px);
        box-shadow: 5px 0px 6px 1px #FFF;
    }
    100% {
        transform: rotate(-45deg) translateX(-30px);
        width: 2px;
        height: 2px;
        opacity: 0;
        box-shadow: none;
    }
}

@media (max-width: 768px) {
    .dark-mode-toggle {
        bottom: 20px;
    }
}